[href="#hron"] {
	color:red;
}
[href="#HTML"] {
	color:red;
}
[href="#stru"] {
	color:red;
}
p.tab{
	padding: 0px 0px 0px 30px
}
p.tab2{
	padding: 0px 0px 0px 60px
}
p.tab3{
	padding: 0px 0px 0px 90px
}
p.tab4{
	padding: 0px 0px 0px 120px
}
p.Dow{
	padding: 10px 0px 0px 0px
} 
[class="col1"] {
	color:red;
}
[href="#liter"] {
	color:red;
}
[class="rd"] {
	color:red;
} 